<div>
  <input placeholder="Dodaj zadanie?" [(ngModel)]="taskInputTxt" (keyup.enter)="addTask()">
  <button (click)="addTask()">+</button>
  <p>To-do list:
</div>
<div id="div_list">
  <ul>
    <li *ngFor="let task of tasks; index as idx">
      <span [ngClass]="{done: task.isDone}">{{task.label}}</span>
      <button (click)="deleteTask(idx)">X</button>
      <button (click)="toggleDone(idx)">Wykonane</button>
      <input appColorful [isDone]="task.isDone" type="date" [(ngModel)]="task.deadline" (keyup.enter)="addTask()">
    </li>
  </ul>
</div>

<style>
  div p {
    width: 50%;
    margin-left: 41%;
    font-family: Georgia;
    font-size: xx-large;
    margin-bottom: 0px;
  }
  li {
    font-family: Georgia;
    font-size: x-large;
    list-style: square;
    width: 100%;
  }
  #div_list {
    width: 50%;
    margin-left: 40%;
  }

</style>